<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Google Maps - Angular Style</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	<script type="text/javascript" src="cities.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="mapCtrl">
	<div id="map"></div>

	<div id="list-window">
		<form ng-submit="updateMarkers(searchString)">
			<input id="filter-input" ng-model="searchString" type="text">

			<input value="Update map" type="submit">
			<div class="city" ng-repeat="city in cities | filter: searchString" >
				{{city.yearRank}}: {{city.city}}
				<a class="btn btn-primary sm" href="" ng-click="triggerClick(city.yearRank)">Show Info</a>		
			</div>
		</form>
	</div>
	<div id="map-panel"></div>
	
</body>
</html>